@charset "UTF-8";
/*
    em HTML é id    = em CSS é #  (só pode um elemento)
    em HTML é class =  em CSS é . (pode vários elementos)

*/
body {
    background-color: rgb(179, 230, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(23, 52, 23);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;

}

h2 {
    color: rgb(56, 84, 56);
}

.basico {
    color: brown;
    font-weight: bolder;
}

.intermediario {
    color: blueviolet;
}

.avançado {
    color: blue;
}